<div class="container">
  <h2>Edit Preferences</h2>

  <%= simple_form_for(@user, as: @user, url: user_path, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, height: 200, width: 200, crop: :thumb, gravity: :face %>
    <% else %>
      <img src="generic-user.png" alt="<% @user.id %>">
    <% end %>
    
    <h5>Change profile photo:</h5>
    <%= f.input :photo, as: :file, inline_label: 'avatar', label: false %>
    
    <%= f.input :email, required: true, autofocus: true %>

    <%= f.input :password,
                hint: "leave it blank if you don't want to change it",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
  <% end %>

  <%= link_to "Back", :back %>
</div>