<div class="container">
  <h1>Change video</h1>

  <%= simple_form_for [@user, @video], url: user_video_path do |f| %>
  <%= f.error_notification %>
  <div>
    <%= f.input :title, required: true %>
  </div>

  <div>
    <%= f.input :description %>
  </div>

  <div>
    <%= f.input :url %>
  </div>

  <div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>