<div class="container">
  <h1>Add new video your library</h1>

  <%= simple_form_for @video, url: user_videos_path do |f| %>
  <%= f.error_notification %>
  <div>
    <%= f.input :title, required: true %>
  </div>

  <div>
    <%= f.input :description %>
  </div>

  <div>
    <%= f.input :url, pattern: "^(http(s)?:\/\/|www\.).*(\.m3u8)$" %>
  </div>

  <div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>