<div class="container">
  <h1>Add new video your library</h1>

  <%= simple_form_for [@user, @video] do |f| %>
  <div>
    <%= f.input :title %>
  </div>

  <div>
    <%= f.input :description %>
  </div>

  <div>
    <%= f.input :url %>
  </div>

  <div>
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
  <% end %>
</div>